body {
  padding: 0.2em;
  color: #888;
  background-color: #234;
}

::selection {
  background-color: #c04000;
  color: white;
}

kbd {
  color: #aaa;
}

p {
  margin: 0 0 1em;
  font-family: monospace;
}
